
html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background-color: #111;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.title {
  background-image: url(../img/ligne_code.jpg);
  color: white;
  border:  solid 2px white; 
  box-sizing: border-box;
  margin: 19px 27px 19px 27px;
  padding: 30px 32px 50px 30px;

}
div {
  border: 10px;
  background : white;
  margin: 19px 27px 19px 27px;
  padding: 30px 32px 50px 30px;
}
.info {
  background-color: #2afca6 ;
  margin: 19px 27px 19px 27px;
}
.centre {
  text-align: center;
}
img {
  width: 100%;
}
.photo {
  text-align: left;
  
}
.dated {
  border-width: 2px;
  border-style: solid;
  border-color: #2bffaa;
  text-align: center;
  color: white;
  background-color: black;
  margin: 19px 27px 19px 27px;
}
figure {
  margin:0%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.name {
  color:#2afca6;
}
.font {
  font-weight: 100;
  font-style: italic;
}
.subtitle {
  color: grey;
}
figcaption {
  padding: 14px 10px;
}
.button {
padding: 7px 14px;
background-color: gray;
color: white;
}
h1, h2 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 25px;
} 
h2 {
  font-size: 15px;
}




